.numero{
    display: inline-block;
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
}
.logo{
    transition-duration: 0.3s;
    color: #64FFDA;
    /* Arriba | Derecha | Abajo | Izquierda */
    padding: 4% 0 0 8%;
    font-size: 200%;
}

.logo:hover{
    transition-duration: 0.3s;
    color: #d1fcf2;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Roboto', sans-serif;
}

.link{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-gap: 2%;
    margin: 2%;
}

.enlace{
    transition-duration: 0.3s;
    text-decoration: none;
    color: #D1D1D1;
    font-family: 'Roboto', sans-serif;
}

.enlace:hover{
    transition-duration: 0.3s;
    color: #64FFDA;
}

.button_{
    transition-duration: 0.5s;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0);
    color: #64FFDA;
    border: 1px solid #64FFDA;  
}

.button_:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: rgba(32, 133, 109, 0.2);
}


@media (max-width: 960px)
{
    .contenedor{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr;
        font-family: 'Roboto', sans-serif;
    }

    .logo{
        transition-duration: 0.3s;
        color: #64FFDA;
        /* Arriba | Derecha | Abajo | Izquierda */
        padding: 0% 0 0 0%;
        margin: 3% 0 0 2%;
        font-size: 100%;
    }

}

@media (max-width: 1280px)
{
    .button_{
        transition-duration: 0.5s;
        width: 90%;
        text-decoration: none;
        border-radius: 5px;
        background-color:rgba(0, 0, 0, 0);
        color: #64FFDA;
        border: 1px solid #64FFDA;  
    }

    .logo{
        transition-duration: 0.3s;
        color: #64FFDA;
        /* Arriba | Derecha | Abajo | Izquierda */
        padding: 3% 0 0 6%;
        font-size: 200%;
    }
}