<nav>
    <div class="contenedor">
        <div class="logo">

        </div>
    
        <div class="link">
            <a class="enlace" href="#"> <p class="numero">01.</p>Sobre mi </a>
            <a class="enlace" href="#"> <p class="numero">02.</p>Experiencia </a>
            <a class="enlace" href="#"> <p class="numero">03.</p>Trabajos </a>
            <a class="enlace" href="#"> <p class="numero">04.</p>Contactar </a>
            <button class="button_">Resumen</button>
        </div>
    </div>
</nav>