<aside class="cont-asaid-D">
    <div></div>

    <!-- Dento de cada span va una a -> enlace y dentro de ello un i de la imagen -->

    <span class="cursor"><a class="enlace" href="#"><i class="fab fa-github"></i></a></span>
    <span class="cursor"><a class="enlace" href="#"><i class="fab fa-instagram"></i></a></span>
    <span class="cursor"><a class="enlace" href="#"><i class="fab fa-facebook"></i></a></span>
    <span class="cursor"><a class="enlace" href="#"><i class="fab fa-linkedin"></i></a></span>
    <span class="cursor"><a class="enlace" href="#"><i class="fas fa-envelope"></i></a></span>
    <img class="Line-imagen" src="../../../../assets/imagenes/Linea-contac.png">
</aside>