html{
    height:  100% ;
}
.cont-asaid-D{
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr ;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.imagenes-aside{
    cursor: pointer;
    
}
.enlace{
    text-decoration: none;
    color: #E6F1FF;
}
.enlace:hover{
    text-decoration: none;
    color: #64FFDA;
}

.cursor {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: #E6F1FF;
    font-size: 140%;
}

.cursor:hover{
    transition: 0.3s;
    color: #64FFDA;
    transform: translateY(-15%);
}


.Line-imagen{
    position: relative;
    height: 100%;
    width: 1px;
}


