<aside class="cont-asaid-D">
    <div></div>
    <div class="imagenes-aside"><img class="" src="../../../../assets/imagenes/github-inactive.png" width="20%"></div>
    <div class="imagenes-aside"><img class="" src="../../../../assets/imagenes/Instagram-Inactive.png" width="20%"></div>
    <div class="imagenes-aside"><img class="" src="../../../../assets/imagenes/Facebook-Inactive.png" width="20%"></div>
    <div class="imagenes-aside"><img class="" src="../../../../assets/imagenes/Linkedin-Inactive.png" width="20%"></div>
    <div class="imagenes-aside"><img class="" src="../../../../assets/imagenes/Gmail-Inactive.png" width="20%"></div>
    <img class="Line-imagen" src="../../../../assets/imagenes/Linea-contac.png">
</aside>