.container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 1fr;
    min-height: 100%;
}

.NavBar_{

    grid-column-start: 1;
    grid-column-end: 4;
}

.Centro_Body{
    background-color: salmon;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Asaid-Dr{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Asaid-Iz{
    background-color:#020C1B;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
